

.inventory-item p {
	color: #505050;
	font-size: 22px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-header {
  width: 100%;
  padding: 16px;
  font-size: 22px;
  background: #fff;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-text-fill-color: #000;
}



.accordion-icon {
  font-size: 24px;
  transition: transform 0.25s ease;
}

.accordion-item.open .accordion-icon {
  transform: rotate(45deg);
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease;
}

.accordion-item.open .accordion-content {
  max-height: 4000px; /* large enough for inventory */
}

/* Optional spacing for items inside */
.accordion-content .inventory-item {
  margin-top: 12px;
}

	@media (min-width: 900px) {
		.accordion-header:hover {
		  background: #f7f7f7;
		}
		.accordion {
			padding-left:10%;
			padding-right:10%;
		}
	}
	
#inventoryAccordion[data-loading="true"] .accordion-item {
  display: none;
}